body, html {
  height: 100%;
  margin: 0px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.rubrikvit {
  font-family: cursive;
  font-family: "Lucida Handwriting";
  font-size: 30px;
  color: white;
}

.rubrik {
  font-family: cursive;
  font-family: "Lucida Handwriting";
  font-size: 30px;
  color: black;
}

.bakgrund {
  background-image: url("../img/bakgrund2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
  z-index: 1;
}

.container1 {
  top: -1080px;
}

/* menyfasoner */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 3;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar:hover {}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

.columnbilder {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.rowbilder::after {
  content: "";
  clear: both;
  display: table;
}

/*meny */
.columnmeny {
  float: left;
  width: 25%;
  background-color: rgb(241, 184, 131);
}

/* Clear floats after the columns */
.rowmeny:after {
  content: "";
  display: table;
  clear: both;
  background-color: rgb(241, 184, 131);
}

.columnboka {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.rowboka {
  margin: 0 -5px;
}

.rowboka:after {
  content: "";
  display: table;
  clear: both;
}

/* Styling */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsiva kolumner vid liten skärm */
@media screen and (max-width: 600px) {
  .columnboka {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container2 {
  font-size: 35px;
}
